.header{
    background: var(--second--base--background--color);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        color: var(--base--background--color);
    }
    &__link{
        color: var(--base--background--color);
        border-radius: 10px;
        border: 2px solid var(--base--background--color);
        padding: 10px 15px;
        transition: all .4s ease;
        display: flex;
        align-items: center;
        &:hover{
            color:var(--second--base--background--color);
            background-color: var(--base--background--color);
        }
    }
}
.list{
    margin-bottom: 20px;
}

.list-of-categories{
    &__button{
        color: var(--base--background--color);
        border-radius: 10px;
        border: 1px solid var(--base--background--color);
        width: 100%;
        padding: 10px 15px;
        transition: all .4s ease;
        background: var(--second--base--background--color);
        border:2px solid var(--second--base--background--color);
        cursor: pointer;
        &.active{
            color:var(--second--base--background--color);
             background-color: var(--base--background--color);
        }
        &:hover{
            color:var(--second--base--background--color);
            background-color: var(--base--background--color);
        }
        &+&{
            margin-top: 5px;
        }
    }
}
.list-of-publication{
    &__link{
        color:#000;
        h2{
            color:var(--title--color);
        }
    }
    &__card{
        border: 1px solid var(--second--base--background--color);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &+&{
            margin-top: 10px;
        }
    }
    &__title{
        padding-left: 10px;
    }
    &__button{
        background-color: red;
        color:#fff;
        border-radius: 5px;
        border:1px solid red;
        padding: 10px 15px;
        transition: all .4s ease;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color:red;
        }
    }

}

.form{
    form{
        width: 500px;
    min-height: 300px;
    border-radius: 10px;
    border:1px solid var(--second--base--background--color);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
    }
    &-group{
        display: flex;
        justify-content: space-between;
        &+&{
            margin-top: 10px;
        }
        label{
            width: 100px;
        }
    }
    &-control{
        width: 100%;
    }
    button{
        color: var(--base--background--color);
        border-radius: 10px;
        border: 1px solid var(--base--background--color);
        padding: 10px 15px;
        transition: all .4s ease;
        background: var(--second--base--background--color);
        border:2px solid var(--second--base--background--color);
        cursor: pointer;
        &:hover{
            color:var(--second--base--background--color);
    background-color: var(--base--background--color);
        }
    }
}