<div class="column-12 bg-base base-padding">Publications List</div>
<div class="row">
    <div class="column column-3 base-padding">
        <button class="button max-large" (click)="changeCategory()">Home</button>
        <button class="button max-large" *ngFor="let cat of categories" [class.active]="cat==selectedCategory"
            (click)="changeCategory(cat)">{{cat}}</button>
    </div>
    <div class="column column-9 base-padding">

        <div class="outer" *ngFor="let publication of publications">
            <a [routerLink]="['/list',publication.id]">
                <h4>
                    {{publication.title}}
                    <span>{{publication.countOfLikes}}</span>

                </h4>
                <div>{{publication.textOfBlog}}</div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quidem obcaecati at explicabo officia
                vitae! Aperiam enim veniam officia reiciendis et quos, fuga repellendus corporis, dicta vel ipsum error
                iure!

               
            </a>
            <button class="button" (click)="remove(publication)">remove</button>
        </div>


    </div>
    <footer >
        <form *ngIf="checkAuth" (ngSubmit)="submit()" novalidate [formGroup]="form">
            <div class="form-group">
                <label>Название</label>
                <input class="form-control" name="title" formControlName="title">
            </div>
            <div class="form-group">
                <label>текст блога</label>
                <input class="form-control" name="textOfBlog" formControlName="textOfBlog">
            </div>
            <div class="form-group">
                <label>категория</label>
                <input class="form-control" name="category" formControlName="category">
            </div>
            <div class="form-group">
                <button class="button"
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="form.invalid"
                >Add</button>
            </div>

        </form>
        <button (click)="goToLogin()">логин</button>
    </footer>
</div>